spring:
  application:
    name: linkspark-backend

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/linkspark}
    username: ${DB_USER:linkspark}
    password: ${DB_PASSWORD:linkspark}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false

  flyway:
    enabled: true
    locations: classpath:db/migration

  security:
    oauth2:
      client:
        registration:

          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile

          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            scope:
              - user:email

app:
  jwt:
    secret: ${JWT_SECRET:LKtn4r4t0Gp+F4KVOeKem1de2UDHz3bCQxvWbHpGXRY=}
    access-ttl-seconds: ${JWT_ACCESS_TTL:2592000}
    refresh-ttl-seconds: ${JWT_REFRESH_TTL:5184000}
    issuer: linkspark

server:
  port: ${PORT:8000}

logging:
  level:
    org.springframework.security: TRACE
